/.vscode
/build/CMakeFiles
/build/CMakeCache.txt
/build/Makefile
client
server
test
*.o
*.d
*.camke


cmake_install.cmake
build/Makefile
build/build.ninja
/build/cmake_install.cmake
build/cmake_install.cmake
